<link href="css/swipe.css" rel="stylesheet" type="text/css"/>

<style>
    .swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }

    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }

    .swipe-wrap > figure {
        float: left;
        width: 100%;
        position: relative;
    }
</style>

<ion-view view-title="信息服务">
    <ion-content>

        <div class="page-swipe">
            <header>
                <div id="slider" class="swipe">
                    <div class="swipe-wrap">
                        <figure>
                            <div class="wrap">
                                <div class="item item-image">
                                    <img src="./img/slides/th1.png">
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <div class="wrap">
                                <div class="item item-image">
                                    <img src="./img/slides/th2.jpg">
                                </div>
                            </div>
                        </figure>
                        <figure>
                            <div class="wrap">
                                <div class="item item-image">
                                    <img src="./img/slides/th3.jpg">
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <nav>
                    <ul id="position">
                        <li class="on"></li>
                        <li class=""></li>
                        <li class=""></li>
                    </ul>
                </nav>
            </header>
        </div>


        <div class="list card">
            <a href="#/apply/type-select" class="item item-icon-left item-text-wrap">
                <i class="icon ion-home"></i>

                <h2>申请信用信息</h2>

                <p>进行身份验证，查询个人信用信息提示、个人信用信息概要或个人信用报告，在提交申请24小时后，短信接收审核结果</p>
            </a>

            <a href="#/result/result-select" class="item item-icon-left item-text-wrap">
                <i class="icon ion-wifi"></i>

                <h2>获取信用信息</h2>

                <p>信用信息产品加工完毕后（一般在成功提交查询申请后的第2天），平台会向用户发送含有身份验证码的短信。
                    用户可在收到验证码的7天内，登录平台使用验证码查看查询结果。</p>
            </a>


        </div>

    </ion-content>
</ion-view>
