<ion-view class="no-header" view-title="身份验证">

    <ion-content>
        <div class="list row">
            <div class="col col-center">

                <div class="list list-inset">
                    <div class="item item-divider item-text-wrap item-content">
                        问题1：您在2009年04月办理的贷款额度是多少？
                    </div>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            215001-265000
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            265001-315000
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            315001-365000
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            365001-415000
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            以上都不是
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                </div>

                <div class="list list-inset">
                    <div class="item item-divider item-text-wrap item-content">
                        问题2：您于2009年04月在哪家机构办理过贷款？？
                    </div>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            中国银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            招商银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            中国民生银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            渤海银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            以上都不是
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                </div>

                <div class="list list-inset">
                    <div class="item item-divider item-text-wrap item-content">
                        问题3：您曾在以下哪家机构办理过信用卡，并且正在使用？
                    </div>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            中国建设银行,招商银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            江苏银行,渤海银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            中国银行,中信银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            浙江省农村信用社联合社,平安银行
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            以上都不是
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                </div>

                <div class="list list-inset">
                    <div class="item item-divider item-text-wrap item-content">
                        问题4：您2009年04月的婚姻状况是什么？
                    </div>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            未婚
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            丧偶
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            已婚
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            离婚
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group">

                        <div class="item-text-wrap item-content">
                            以上都不是
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>

                </div>
            </div>
        </div>

        <div class="button-bar">
            <a href="#/apply/type-select" class="button button-positive">上一步</a>
            <a href="#/apply/apply-result" class="button button-positive">提交</a>
        </div>

    </ion-content>


</ion-view>
