<ion-view view-title="申请信用信息">

    <ion-content class="no-header">

        <div class="bar bar-subheader">
            <a href="#/rcap" class="button button-icon icon ion-android-arrow-back"></a>

            <h2 class="title">选择信息类别</h2>
        </div>

        <ul class="list has-tabs-top">
            <li class="item item-toggle">
                个人信用信息提示
                <label class="toggle toggle-calm">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                个人信用信息概要
                <label class="toggle toggle-calm ">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                个人信用报告
                <label class="toggle toggle-calm">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <a href="#/apply/identity-qa" class="button button-block button-positive">下一步</a>
        </ul>

    </ion-content>
</ion-view>
