<ion-view class="no-header" view-title="选择申请类型">

    <ion-content>

        <ul class="list">
            <li class="item item-toggle">
                个人信用信息提示
                <label class="toggle toggle-calm">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                个人信用信息概要
                <label class="toggle toggle-calm ">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                个人信用报告
                <label class="toggle toggle-calm">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <a href="#/apply/identity-qa" class="button button-block button-positive">下一步</a>
        </ul>

    </ion-content>
</ion-view>
